<div class="row">
    <div class="cols-sm-12">
        <table class="table table-bordered">
            <thead>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Remover</th>
                <th>Alterar</th>
            </thead>
            <tbody>
                <%= render @produtos %>
            </tbody>
        </table>
        <%= link_to "Cadastrar novo produto", new_produto_path %>
    </div>
</div>
